<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcampus.database.mapper.PasswordResetApplicationMapper">

    <!-- 从CSV文件加载密码重置申请数据 -->
    <update id="loadPasswordResetApplicationsFromCsv" parameterType="java.lang.String">
        LOAD DATA LOCAL INFILE #{filePath}
        INTO TABLE vcampus_db.tb_password_reset_application
        CHARACTER SET utf8mb4
        FIELDS TERMINATED BY ','
        LINES TERMINATED BY '\n'
        IGNORE 1 ROWS
        (userId, newPassword, @submitTimeVar)
        SET submitTime = STR_TO_DATE(REPLACE(@submitTimeVar, '\r', ''), '%Y-%m-%d %H:%i:%s')
    </update>

    <!-- 查询所有密码重置申请 -->
    <select id="selectAll" resultType="com.vcampus.common.dto.PasswordResetApplication">
        SELECT * FROM vcampus_db.tb_password_reset_application ORDER BY submitTime DESC;
    </select>

    <!-- 根据用户ID查询密码重置申请 -->
    <select id="selectById" parameterType="java.lang.String" resultType="com.vcampus.common.dto.PasswordResetApplication">
        SELECT * FROM vcampus_db.tb_password_reset_application WHERE userId = #{userId};
    </select>

    <!-- 添加密码重置申请 -->
    <insert id="add" parameterType="com.vcampus.common.dto.PasswordResetApplication">
        INSERT INTO vcampus_db.tb_password_reset_application (userId, newPassword, submitTime)
        VALUES (#{userId}, #{newPassword}, #{submitTime});
    </insert>

    <!-- 更新密码重置申请 -->
    <update id="update" parameterType="com.vcampus.common.dto.PasswordResetApplication">
        UPDATE vcampus_db.tb_password_reset_application
        SET userId = #{userId},
            newPassword = #{newPassword},
            submitTime = #{submitTime}
        WHERE userId = #{userId};
    </update>

    <!-- 根据用户ID删除密码重置申请 -->
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM vcampus_db.tb_password_reset_application WHERE userId = #{userId};
    </delete>

</mapper>
