<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcampus.database.mapper.StudentMapper">

    <!-- 创建数据库 -->
    <update id="createDatabase">
        CREATE DATABASE IF NOT EXISTS vcampus_db
        CHARACTER SET utf8mb4
        COLLATE utf8mb4_unicode_ci
    </update>

    <!-- 删除数据库 -->
    <update id="dropDatabase">
        DROP DATABASE IF EXISTS vcampus_db
    </update>

    <!-- 创建学生表 -->
    <update id="createStuTable">
        CREATE TABLE IF NOT EXISTS vcampus_db.tb_student(
        userId VARCHAR(64) NOT NULL PRIMARY KEY COMMENT '用户ID（主键）',
        studentId CHAR(8) COMMENT '学号（8位数字）',
        name VARCHAR(50) NOT NULL COMMENT '姓名',
        gender VARCHAR(10) COMMENT '性别',
        college VARCHAR(100) COMMENT '学院',
        major VARCHAR(100) COMMENT '专业',
        grade INT COMMENT '年级（如 2023）',
        birth_date DATE COMMENT '出生日期',
        native_place VARCHAR(100) COMMENT '籍贯',
        politics_status VARCHAR(50) COMMENT '政治面貌',
        student_status VARCHAR(50) COMMENT '学籍状态',
        phone VARCHAR(20) COMMENT '手机号',
        email VARCHAR(100) COMMENT '电子邮箱',
        dormAddress VARCHAR(200) COMMENT '宿舍地址',
        fatherName VARCHAR(50) COMMENT '父亲姓名',
        fatherPhone VARCHAR(20) COMMENT '父亲电话',
        fatherPoliticsStatus VARCHAR(50) COMMENT '父亲政治面貌',
        fatherWorkUnit VARCHAR(100) COMMENT '父亲工作单位',
        motherName VARCHAR(50) COMMENT '母亲姓名',
        motherPhone VARCHAR(20) COMMENT '母亲电话',
        motherPoliticsStatus VARCHAR(50) COMMENT '母亲政治面貌',
        motherWorkUnit VARCHAR(100) COMMENT '母亲工作单位'
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='学生信息表（以userId为主键）';
    </update>

    <!-- 删除学生表 -->
    <update id="dropStuTable">
        DROP TABLE IF EXISTS vcampus_db.tb_student;
    </update>

    <!-- 插入临时数据 -->
    <insert id="InsertTempData">
        INSERT INTO tb_student (userId, studentId, name, gender, college, major, grade, birth_date, native_place, politics_status, student_status,
        phone, email, dormAddress, fatherName, fatherPhone, fatherPoliticsStatus, fatherWorkUnit,
        motherName, motherPhone, motherPoliticsStatus, motherWorkUnit)
        VALUES
        ('1234567', '20210001', '张三', '男', '计算机学院', '计算机科学与技术', 2021, '2003-09-01', '北京市', '共青团员', '在读',
        '13811112222', 'zhangsan@example.com', '1号楼101', '张爸爸', '13800000001', '群众', '某公司', '张妈妈', '13800000002', '党员', '某医院'),
        ('2345678', '20210002', '李四', '女', '电子工程学院', '电子信息工程', 2021, '2003-10-15', '上海市', '共青团员', '在读',
        '13811113333', 'lisi@example.com', '2号楼202', '李爸爸', '13800000003', '党员', '某研究院', '李妈妈', '13800000004', '群众', '某学校');
    </insert>

    <!-- 查询所有学生 -->
    <select id="selectAll" resultType="com.vcampus.common.dto.Student">
        SELECT * FROM vcampus_db.tb_student;
    </select>

    <!-- 根据用户ID查询 -->
    <select id="selectById" resultType="com.vcampus.common.dto.Student">
        SELECT * FROM vcampus_db.tb_student WHERE userId = #{userId};
    </select>

    <!-- 根据条件查询 -->
    <select id="selectByCondition" resultType="com.vcampus.common.dto.Student">
        SELECT *
        FROM vcampus_db.tb_student
        <where>
            <if test="userId!= null and userId != '' "> AND userId = #{userId} </if>
            <if test="studentId != null and studentId != '' "> AND studentId = #{studentId} </if>
            <if test="name != null and name != '' "> AND name = #{name} </if>
            <if test="gender != null and gender != '' "> AND gender = #{gender} </if>
            <if test="college != null and college != '' "> AND college = #{college} </if>
            <if test="major != null and major != '' "> AND major = #{major} </if>
            <if test="grade != null "> AND grade = #{grade} </if>
            <if test="birth_date != null and birth_date != '' "> AND birth_date = #{birth_date} </if>
            <if test="native_place != null and native_place != '' "> AND native_place = #{native_place} </if>
            <if test="politics_status != null and politics_status != '' "> AND politics_status = #{politics_status} </if>
            <if test="student_status != null and student_status != '' "> AND student_status = #{student_status} </if>
            <if test="phone != null and phone != '' "> AND phone = #{phone} </if>
            <if test="email != null and email != '' "> AND email = #{email} </if>
            <if test="dormAddress != null and dormAddress != '' "> AND dormAddress = #{dormAddress} </if>
            <if test="fatherName != null and fatherName != '' "> AND fatherName = #{fatherName} </if>
            <if test="fatherPhone != null and fatherPhone != '' "> AND fatherPhone = #{fatherPhone} </if>
            <if test="fatherPoliticsStatus != null and fatherPoliticsStatus != '' "> AND fatherPoliticsStatus = #{fatherPoliticsStatus} </if>
            <if test="fatherWorkUnit != null and fatherWorkUnit != '' "> AND fatherWorkUnit = #{fatherWorkUnit} </if>
            <if test="motherName != null and motherName != '' "> AND motherName = #{motherName} </if>
            <if test="motherPhone != null and motherPhone != '' "> AND motherPhone = #{motherPhone} </if>
            <if test="motherPoliticsStatus != null and motherPoliticsStatus != '' "> AND motherPoliticsStatus = #{motherPoliticsStatus} </if>
            <if test="motherWorkUnit != null and motherWorkUnit != '' "> AND motherWorkUnit = #{motherWorkUnit} </if>
        </where>
    </select>

    <!-- 添加学生 -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vcampus_db.tb_student(
        userId, studentId, name, gender, college, major, grade, birth_date, native_place, politics_status, student_status,
        phone, email, dormAddress, fatherName, fatherPhone, fatherPoliticsStatus, fatherWorkUnit,
        motherName, motherPhone, motherPoliticsStatus, motherWorkUnit
        )
        VALUES(
        #{userId}, #{studentId}, #{name}, #{gender}, #{college}, #{major}, #{grade}, #{birth_date}, #{native_place}, #{politics_status}, #{student_status},
        #{phone}, #{email}, #{dormAddress}, #{fatherName}, #{fatherPhone}, #{fatherPoliticsStatus}, #{fatherWorkUnit},
        #{motherName}, #{motherPhone}, #{motherPoliticsStatus}, #{motherWorkUnit}
        )
    </insert>

    <!-- 更新学生 -->
    <update id="update">
        UPDATE vcampus_db.tb_student
        <set>
            <if test="studentId != null and studentId != '' "> studentId = #{studentId}, </if>
            <if test="name != null and name != '' "> name = #{name}, </if>
            <if test="gender != null and gender != '' "> gender = #{gender}, </if>
            <if test="college != null and college != '' "> college = #{college}, </if>
            <if test="major != null and major != '' "> major = #{major}, </if>
            <if test="grade != null "> grade = #{grade}, </if>
            <if test="birth_date != null and birth_date != '' "> birth_date = #{birth_date}, </if>
            <if test="native_place != null and native_place != '' "> native_place = #{native_place}, </if>
            <if test="politics_status != null and politics_status != '' "> politics_status = #{politics_status}, </if>
            <if test="student_status != null and student_status != '' "> student_status = #{student_status}, </if>
            <if test="phone != null and phone != '' "> phone = #{phone}, </if>
            <if test="email != null and email != '' "> email = #{email}, </if>
            <if test="dormAddress != null and dormAddress != '' "> dormAddress = #{dormAddress}, </if>
            <if test="fatherName != null and fatherName != '' "> fatherName = #{fatherName}, </if>
            <if test="fatherPhone != null and fatherPhone != '' "> fatherPhone = #{fatherPhone}, </if>
            <if test="fatherPoliticsStatus != null and fatherPoliticsStatus != '' "> fatherPoliticsStatus = #{fatherPoliticsStatus}, </if>
            <if test="fatherWorkUnit != null and fatherWorkUnit != '' "> fatherWorkUnit = #{fatherWorkUnit}, </if>
            <if test="motherName != null and motherName != '' "> motherName = #{motherName}, </if>
            <if test="motherPhone != null and motherPhone != '' "> motherPhone = #{motherPhone}, </if>
            <if test="motherPoliticsStatus != null and motherPoliticsStatus != '' "> motherPoliticsStatus = #{motherPoliticsStatus}, </if>
            <if test="motherWorkUnit != null and motherWorkUnit != '' "> motherWorkUnit = #{motherWorkUnit}, </if>
        </set>
        WHERE userId = #{userId}
    </update>

    <!-- 删除学生 -->
    <delete id="deleteById">
        DELETE FROM vcampus_db.tb_student WHERE userId = #{userId}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM vcampus_db.tb_student WHERE userId
        IN
        <foreach collection="array" item="userId" separator=",">
            #{userId}
        </foreach>
    </delete>

    <!-- 从 CSV 加载学生 -->
    <update id="loadStudentsFromCsv">
        LOAD DATA LOCAL INFILE #{filePath}
        INTO TABLE vcampus_db.tb_student
        CHARACTER SET utf8mb4
        FIELDS TERMINATED BY ','
        LINES TERMINATED BY '\n'
        IGNORE 1 ROWS
        (userId, studentId, cardId, name, gender, college, major, grade, @birth_date_var, native_place, politics_status, student_status)
        SET birth_date = STR_TO_DATE(@birth_date_var, '%d/%m/%Y');
    </update>

</mapper>
