<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
    namespace：名称空间
-->
<mapper namespace="com.vcampus.database.mapper.StudentMapper">

    <update id="createDatabase">
        CREATE DATABASE IF NOT EXISTS vcampus_db
        CHARACTER SET utf8mb4
        COLLATE utf8mb4_unicode_ci
    </update>

    <update id="dropDatabase">
        DROP DATABASE IF EXISTS vcampus_db
    </update>


    <update id="createStuTable">
        CREATE TABLE IF NOT EXISTS vcampus_db.`tb_student`(
        `userId` VARCHAR(64) NOT NULL PRIMARY KEY COMMENT '用户ID（主键）',
        `studentId` CHAR(8) COMMENT '学号（8位数字）',
        `cardId` CHAR(9) COMMENT '一卡通号（9位数字）',
        `name` VARCHAR(50) NOT NULL COMMENT '姓名',
        `gender` VARCHAR(10) COMMENT '性别',
        `college` VARCHAR(100) COMMENT '学院',
        `major` VARCHAR(100) COMMENT '专业',
        `grade` INT COMMENT '年级（如 2023）',
        `birth_date` DATE COMMENT '出生日期',
        `native_place` VARCHAR(100) COMMENT '籍贯',
        `politics_status` VARCHAR(50) COMMENT '政治面貌',
        `student_status` VARCHAR(50) COMMENT '学籍状态'
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='学生信息表（以userId为主键）';
    </update>



    <update id="dropStuTable">
        DROP TABLE IF EXISTS vcampus_db.tb_student
    </update>




    <insert id="InsertTempData">
        INSERT INTO tb_student (userId, studentId, cardId, name, gender, college, major, grade, birth_date, native_place, politics_status, student_status)
        VALUES
        ('1234567', '20210001', '123456789', '张三', '男', '计算机学院', '计算机科学与技术', 2021, '2003-09-01', '北京市', '共青团员', '在读'),
        ('2345678', '20210002', '987654321', '李四', '女', '电子工程学院', '电子信息工程', 2021, '2003-10-15', '上海市', '共青团员', '在读'),
        ('3456789', '20220001', '112233445', '王五', '男', '数学学院', '数学与应用数学', 2022, '2004-05-20', '广州市', '群众', '在读'),
        ('4567890', '20230001', '556677889', '赵六', '女', '文学院', '汉语言文学', 2023, '2005-02-10', '成都市', '共青团员', '在读')
    </insert>


















    <select id="selectAll" resultType="com.vcampus.common.dto.Student">
        select * from vcampus_db.tb_student;
    </select>

    <select id="selectById" resultType="com.vcampus.common.dto.Student">
        select * from vcampus_db.tb_student where userId = #{userId};
    </select>



    <select id="selectByCondition" resultType="com.vcampus.common.dto.Student">
        select *
        from vcampus_db.tb_student
        /*where
        1=1*/
        <where>
            <if test="userId!= null and userId != '' ">
                and userId = #{userId}
            </if>
            <if test="studentId != null and studentId != '' ">
                and studentId = #{studentId}
            </if>
            <if test="cardId != null and cardId != '' ">
                and cardId = #{cardId}
            </if>
            <if test="name != null and name != '' ">
                and name = #{name}
            </if>
            <if test="gender != null and gender != '' ">
                and gender = #{gender}
            </if>
            <if test="college != null and college != '' ">
                and college = #{college}
            </if>
            <if test="major != null and major != '' ">
                and major = #{major}
            </if>
            <if test="grade != null and grade != '' ">
                and grade = #{grade}
            </if>
            <if test="birth_date != null and birth_date != '' ">
                and birth_date = #{birth_date}
            </if>
            <if test="native_place != null and native_place != '' ">
                and native_place = #{native_place}
            </if>
            <if test="politics_status != null and politics_status != '' ">
                and politics_status = #{politics_status}
            </if>
            <if test="student_status != null and student_status != '' ">
                and student_status = #{student_status}
            </if>
        </where>
    </select>


    <select id="selectBySingleCondition" resultType="com.vcampus.common.dto.Student">
        select *
        from vcampus_db.tb_student
        <where>
            <choose>
                <when test="userId != null and userId != '' ">
                    and userId = #{userId}
                </when>
                <when test="studentId != null and studentId != '' ">
                    and studentId = #{studentId}
                </when>
                <when test="cardId != null and cardId != '' ">
                    and cardId = #{cardId}
                </when>
                <when test="name != null and name != '' ">
                    and name = #{name}
                </when>
                <when test="gender != null and gender != '' ">
                    and gender = #{gender}
                </when>
                <when test="college != null and college != '' ">
                    and college = #{college}
                </when>
                <when test="major != null and major != '' ">
                    and major = #{major}
                </when>
                <when test="grade != null ">
                    and grade = #{grade}
                </when>
                <when test="birth_date != null and birth_date != '' ">
                    and birth_date = #{birth_date}
                </when>
                <when test="native_place != null and native_place != '' ">
                    and native_place = #{native_place}
                </when>
                <when test="politics_status != null and politics_status != '' ">
                    and politics_status = #{politics_status}
                </when>
                <when test="student_status != null and student_status != '' ">
                    and student_status = #{student_status}
                </when>
            </choose>
        </where>
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into vcampus_db.tb_student(userId, studentId, cardId, name, gender, college, major, grade, birth_date, native_place, politics_status, student_status)
        values(#{userId}, #{studentId}, #{cardId}, #{name}, #{gender}, #{college}, #{major}, #{grade}, #{birth_date}, #{native_place}, #{politics_status}, #{student_status})
    </insert>


    <update id="update">
        update vcampus_db.tb_student
        <set>
            <if test="studentId != null and studentId != '' ">
                studentId = #{studentId},
            </if>
            <if test="cardId != null and cardId != '' ">
                cardId = #{cardId},
            </if>
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="gender != null and gender != '' ">
                gender = #{gender},
            </if>
            <if test="college != null and college != '' ">
                college = #{college},
            </if>
            <if test="major != null and major != '' ">
                major = #{major},
            </if>
            <if test="grade != null and grade != '' ">
                grade = #{grade},
            </if>
            <if test="birth_date != null and birth_date != '' ">
                birth_date = #{birth_date},
            </if>
            <if test="native_place != null and native_place != '' ">
                native_place = #{native_place},
            </if>
            <if test="politics_status != null and politics_status != '' ">
                politics_status = #{politics_status},
            </if>
            <if test="student_status != null and student_status != '' ">
                student_status = #{student_status},
            </if>
        </set>
        where userId = #{userId}
    </update>



    <update id="loadStudentsFromCsv">
        LOAD DATA LOCAL INFILE #{filePath}
        INTO TABLE vcampus_db.tb_student
        CHARACTER SET utf8mb4
        FIELDS TERMINATED BY ','
        LINES TERMINATED BY '\n'
        IGNORE 1 ROWS
        (userId, studentId, cardId, name, gender, college, major, grade, @birth_date_var, native_place, politics_status, student_status)
        SET birth_date = STR_TO_DATE(@birth_date_var, '%d/%m/%Y');
    </update>


    <delete id="deleteById">
        delete from vcampus_db.tb_student where userId = #{userId}
    </delete>
    <delete id="deleteByIds">
        delete from vcampus_db.tb_student where userId
        in
        (
        <foreach collection="array" item="userId" separator=","  >
            #{userId}
        </foreach>
        )
    </delete>


</mapper>