<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
    namespace：名称空间
-->
<mapper namespace="com.vcampus.database.mapper.StudentMapper">

    



    <select id="selectAll" resultType="com.vcampus.common.dto.Student">
        select * from tb_student;
    </select>

    <select id="selectById" resultType="com.vcampus.common.dto.Student">
        select * from vcampus_db.tb_student where userId = #{userId};
    </select>



    <select id="selectByCondition" resultType="com.vcampus.common.dto.Student">
        select *
        from vcampus_db.tb_student
        /*where
        1=1*/
        <where>
            <if test="userId!= null and userId != '' ">
                and userId = #{userId}
            </if>
            <if test="studentId != null and studentId != '' ">
                and studentId = #{studentId}
            </if>
            <if test="cardId != null and cardId != '' ">
                and cardId = #{cardId}
            </if>
            <if test="name != null and name != '' ">
                and name = #{name}
            </if>
            <if test="gender != null and gender != '' ">
                and gender = #{gender}
            </if>
            <if test="college != null and college != '' ">
                and college = #{college}
            </if>
            <if test="major != null and major != '' ">
                and major = #{major}
            </if>
            <if test="grade != null and grade != '' ">
                and grade = #{grade}
            </if>
            <if test="birth_date != null and birth_date != '' ">
                and birth_date = #{birth_date}
            </if>
            <if test="native_place != null and native_place != '' ">
                and native_place = #{native_place}
            </if>
            <if test="politics_status != null and politics_status != '' ">
                and politics_status = #{politics_status}
            </if>
            <if test="student_status != null and student_status != '' ">
                and student_status = #{student_status}
            </if>
        </where>
    </select>


    <select id="selectBySingleCondition" resultType="com.vcampus.common.dto.Student">
        select *
        from vcampus_db.tb_student
        <where>
            <choose>
                <when test="userId != null and userId != '' ">
                    and userId = #{userId}
                </when>
                <when test="studentId != null and studentId != '' ">
                    and studentId = #{studentId}
                </when>
                <when test="cardId != null and cardId != '' ">
                    and cardId = #{cardId}
                </when>
                <when test="name != null and name != '' ">
                    and name = #{name}
                </when>
                <when test="gender != null and gender != '' ">
                    and gender = #{gender}
                </when>
                <when test="college != null and college != '' ">
                    and college = #{college}
                </when>
                <when test="major != null and major != '' ">
                    and major = #{major}
                </when>
                <when test="grade != null ">
                    and grade = #{grade}
                </when>
                <when test="birth_date != null and birth_date != '' ">
                    and birth_date = #{birth_date}
                </when>
                <when test="native_place != null and native_place != '' ">
                    and native_place = #{native_place}
                </when>
                <when test="politics_status != null and politics_status != '' ">
                    and politics_status = #{politics_status}
                </when>
                <when test="student_status != null and student_status != '' ">
                    and student_status = #{student_status}
                </when>
            </choose>
        </where>
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into vcampus_db.tb_student(userId, studentId, cardId, name, gender, college, major, grade, birth_date, native_place, politics_status, student_status)
        values(#{userId}, #{studentId}, #{cardId}, #{name}, #{gender}, #{college}, #{major}, #{grade}, #{birth_date}, #{native_place}, #{politics_status}, #{student_status})
    </insert>


    <update id="update">
        update vcampus_db.tb_student
        <set>
            <if test="studentId != null and studentId != '' ">
                studentId = #{studentId},
            </if>
            <if test="cardId != null and cardId != '' ">
                cardId = #{cardId},
            </if>
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="gender != null and gender != '' ">
                gender = #{gender},
            </if>
            <if test="college != null and college != '' ">
                college = #{college},
            </if>
            <if test="major != null and major != '' ">
                major = #{major},
            </if>
            <if test="grade != null and grade != '' ">
                grade = #{grade},
            </if>
            <if test="birth_date != null and birth_date != '' ">
                birth_date = #{birth_date},
            </if>
            <if test="native_place != null and native_place != '' ">
                native_place = #{native_place},
            </if>
            <if test="politics_status != null and politics_status != '' ">
                politics_status = #{politics_status},
            </if>
            <if test="student_status != null and student_status != '' ">
                student_status = #{student_status},
            </if>
        </set>
        where userId = #{userId}
    </update>



    <update id="loadStudentsFromCsv">
        LOAD DATA LOCAL INFILE #{filePath}
        INTO TABLE vcampus_db.tb_student
        CHARACTER SET utf8mb4
        FIELDS TERMINATED BY ','
        LINES TERMINATED BY '\n'
        IGNORE 1 ROWS
        (userId, studentId, cardId, name, gender, college, major, grade, @birth_date_var, native_place, politics_status, student_status)
        SET birth_date = STR_TO_DATE(REPLACE(@birth_date_var, '\r', ''), '%d/%m/%Y')
    </update>


    <delete id="deleteById">
         delete from vcampus_db.tb_student where userId = #{userId}
    </delete>
    <delete id="deleteByIds">
        delete from vcampus_db.tb_student where userId
        in
        (
        <foreach collection="array" item="userId" separator=","  >
            #{userId}
        </foreach>
        )
    </delete>


</mapper>