<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
       <!--配置各个标签的时候，需要遵守前后的顺序-->
<!--    <typeAliases>-->
<!--        <package name="com.itheima.pojo"/>-->
<!--        &lt;!&ndash; 相当于给pojo下面的所有类起别名 &ndash;&gt;-->
<!--    </typeAliases>-->
    <!-- 配置数据库连接环境信息，可以配置多个数据库环境，通过default属性指定默认的数据库环境 -->
    <environments default="development">
        <environment id="development">
            <!-- 事务的管理器，这里使用JDBC事务管理器  不用去管 -->
            <transactionManager type="JDBC"/>
            <!-- 数据库连接池，这里使用mybatis自带的数据库连接池  -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/?serverTimezone=UTC&amp;allowLoadLocalInfile=true"/>
                <property name="username" value="root"/>

                <property name="password" value="1ssyzjkl"/>
            </dataSource>

        </environment>

    </environments>


<!--    <mappers>-->
<!--        &lt;!&ndash; 加载sql的映射文件 &ndash;&gt;-->
<!--&lt;!&ndash;        <mapper resource="com/itheima/mapper/UserMapper.xml"/>&ndash;&gt;-->
<!--        &lt;!&ndash;  包扫描的方式加载sql的映射文件    上面这句就不用了，下面这句就可以了    &ndash;&gt;-->
<!--        <package name="com.itheima.mapper"/>-->
<!--    </mappers>-->
    <mappers>
        <!-- 加载sql的映射文件 -->
        <!--  包扫描的方式加载sql的映射文件    上面这句就不用了，下面这句就可以了    -->
        <package name="com.vcampus.database.mapper"/>
    </mappers>

</configuration>

